 html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: '微软雅黑',Arial,Helvetica,'microsoft yahei',sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	overflow: hidden;
}
.cont_head{
	background-color:#2d2d2d;
	padding: 33px 33px 0px 33px;
	padding: 3.3rem 3.3rem 0px 3.3rem;
	text-align: center;
	color:#d7d7d7;
	text-transform: uppercase;
}
.head_cont{
	background-color:#2d2d2d;
	border:solid 10px #fff;
	border-bottom: none;
	overflow: hidden;
}
.number{
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;
	font-size: 14px;
	font-size: 1.4rem;	
}
.head_title{
	margin-top: 54px;
	font-size: 20px;
	font-size: 2rem;
	color:#fff;
}
.head_title hr{
	background-color: #fff;
	width: 63px;
	height:10px;
	margin:24px auto;
	border:none;
}
.head_cont h3{
	font-weight: normal;
	font-size: 40px;
	font-size: 4rem;
	letter-spacing: 25px;
	letter-spacing: 0.5rem;
	margin:0px;
}
.head_cont p{
	font-size: 24px;
	font-size: 2.4rem;
	letter-spacing: 16px;
	letter-spacing: 0.6rem;
	margin-top: 25px;
	margin-bottom: 50px;
}
.cont_body{
	background-color: #f2f2f2;
	padding: 0px 33px 33px 33px;
	padding: 0rem 3.3rem 3.3rem 3.3rem;
	text-align: center;
	color:#65666a;
}
.body_cont{
	border:solid 10px #fff;
	border-top: none;
	overflow: hidden;
}
.body_head{
	padding-top: 62px;
}
.body_head p{
	font-size: 16px;
	line-height: 25px;
}
.body_head h2{
	font-size: 50px;
	letter-spacing: 22px;
	font-size: 5rem;
	letter-spacing: 0rem;
	margin-top: 50px;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.body_foot{
	padding-top: 45px;
	padding-bottom: 35px;
	display: flex;
}

.body_foot .mid{
	width:156px;
}
.body_foot .mid img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.body_foot .left,.body_foot .right{
	flex:1;
	text-align: center;
	display: inline-block;		
}
.body_foot .left p,.body_foot .right p{
	margin-top: 75px;
	font-size: 	20px;
	margin-bottom: 0px;	
}
.body_foot span{
	font-size: 	14px;	
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; /* 15.04÷16=94% */
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; /* 17.44÷16=109% */
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important; /* 20÷16=125% */
    }
}

/*横屏*/
@media screen and (orientation:landscape) {

}
/*竖屏*/
@media screen and (orientation:portrait) {
	.cont_head{
		padding: 20px 20px 0px 20px;
		padding: 2rem 2rem 0px 2rem;
	}
	.cont_body{
		padding: 0px 20px 20px 20px;
		padding: 0rem 2rem 2rem 2rem;
	}
	.number{
		font-size: 12px;
		font-size: 1.2rem;
	}
    .head_title{
		margin-top: 12px;
    }
    .head_title hr{
    	margin:15px auto;
    	height: 4px;
    }
    .head_cont{
    	border:solid 4px #fff;
		border-bottom: none;
    }
    .head_cont h3{
    	font-size: 23px;
    	font-size: 2.3rem;
    }
    .head_cont p{
    	font-size: 14px;
    	font-size: 1.4rem;
		margin-top: 15px;
		margin-bottom: 27px;
    }
    .body_cont {
	    border: solid 4px #fff;
	    border-top: none;
	}
    .body_head{
    	padding-top: 23px;
    }
    .body_head h2{
    	font-size: 30px;
    	font-size: 3rem;
    	margin-top: 27px;
    	margin-bottom: 27px;
    }
    .body_head p{
    	font-size: 10px;
    	line-height: 14px;
    }
    .body_foot{
    	padding-top: 25px;
    }
    .body_foot .left p, .body_foot .right p{
    	margin-top: 45px;
    	font-size:14px;
    }
    .body_foot span{
    	font-size: 12px;
    }
    .body_foot .mid{
    	width:90px;
    }
}
/*横屏*/
/*@media screen and (orientation:portrait) {
    body {
      transform-origin: 0 0;
      transform: rotateZ(90deg) translateY(-100%);
    }
}*/