 html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,'microsoft yahei',sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	overflow: hidden;
}
.cont_head{
	width: 94%;
	padding: 3% 3% 0 3%;
	background-color:#2d2d2d;
	text-align: center;
	color:#d7d7d7;
	text-transform: uppercase;
}
.head_cont{
	background-color:#2d2d2d;
	border:solid 1vw #fff;
	border-bottom: none;
	overflow: hidden;
}
.number{
	text-align: right;
	padding-top: 2vw;
	padding-right: 2vw;
	font-size: 2vw;	
}
.head_title{
	margin-top: 2vw;
	font-size: 2vw;/*12px*/
	color:#fff;
}
.head_title hr{
	background-color: #fff;
	width: 6vw;
	height:1vw;
	margin:2vw auto;
	border:none;
}
.head_cont h3{
	font-weight: normal;
	font-size: 4vw;
	letter-spacing: 2vw;
	margin:0px;
}
.head_cont p{
	font-size: 2vw;/*14px*/
	letter-spacing: 1vw;/*10px*/
	margin-top: 2vw;
	margin-bottom: 4vw;
}
.cont_body{
	background-color: #f2f2f2;
	padding: 0 3% 3%  3%;
	text-align: center;
	color:#65666a;
}
.body_cont{
	border:solid 1vw #fff;
	border-top: none;
	overflow: hidden;
}
.body_head{
	padding-top:10vw;
}
.body_head p{
	font-size: 1.8vw;
}
.body_head h2{
	font-size: 4.6vw;
	letter-spacing: 2vw;
	margin-top: 4vw;/*26*/
	margin-bottom: 4vw;
	text-transform: uppercase;
}
.body_foot{
	padding-top: 5vw;
	padding-bottom: 3vw;
	display: flex;
}

.body_foot .mid{
	width:14vw;
	height: 14vw;
}
.body_foot .mid img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.body_foot .left,.body_foot .right{
	flex:1;
	text-align: center;
	display: inline-block;		
}
.body_foot .left p,.body_foot .right p{
	margin-top: 7vw;
	font-size: 	2vw;
	margin-bottom: 0px;	
}
.body_foot span{
	font-size: 	1.4vw;	
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important; 15.04÷16=94%
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important; 17.44÷16=109%
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important; 20÷16=125%
    }
}

/*横屏*/
@media screen and (orientation:landscape) {
}
/*竖屏*/
/* @media screen and (orientation:portrait) {
} */
/*横屏*/
/*@media screen and (orientation:portrait) {
    body {
      transform-origin: 0 0;
      transform: rotateZ(90deg) translateY(-100%);
    }
}*/